<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de usuarios</title>
    <script src="./index.js" defer></script>
</head>
<body>
    <h1 style="text-align: center;">Gestión de usuarios</h1>
    <form action="" id="user" name="user">
        <span>nombre: </span><input type="text" name="name" id="name"><br>
        <span>telefono: </span><input type="text" name="phone" id="phone"><br>
        <span>email: </span><input type="text" name="email" id="email"><br>
        <button id="send">Enviar</button>
    </form>
    <br>
    <hr>
</body>
</html>